* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body,
html {
  font-family: "Roboto", helvetica, sans-serif;
}

.contentTopHeader {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
}

ul {
  display: flex;
  align-items: center;
  height: 50px;
  width: 30rem;
  justify-content: space-between;
}

li {
  height: 30px;
  line-height: 30px;
}

header li:hover {
  border-bottom: solid 2px #fff;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
}

.cartImg {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 38px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  max-width: 1220px;
  background-image: url(./assets/fundo-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
  margin: 1rem auto;
  line-height: 1;
  width: 100vw;
}

header .logo {
  font-family: Rozha one, Helvetica, Arial, sans-serif;
}

.shopNow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.contentHeader {
  display: flex;
  height: 500px;
  padding: 6rem;
  width: 100%;
}

button {
  background: transparent;
  margin-top: 1.2rem;
  padding: 1rem 3rem;
  border: solid 1px #fff;
  border-radius: 0.5rem;
}

.topBoxes {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  height: 64px;
  justify-content: space-between;
}

.photoBox img {
  width: 100%;
  height: 100%;
}

.smallBox {
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: inherit;
  background-color: #c67306bf;
  transition: 0.2s;
}

.smallBox:hover {
  filter: brightness(0.9);
}

.photoBox {
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
  background-color: #fff;
}

.offer1 {
  background: #f3a914b0;
}

.offer2 {
  background: #c67106e5;
}

.sectionOne {
  position: relative;
  width: 100vw;
  max-width: 1220px;
  height: 400pxpx;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}

.sectionOne .content {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.photoBox p {
  font-family: "Blinker", arial, helvetica, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 100vw;
  max-width: 1220px;
}

.partials {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.title-sectionTwo {
  font-family: Blinker;
  margin: 2 auto;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.contentSectionTwo {
  margin: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.sectionThre {
  font-family: "Blinker", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100vw;
  max-width: 1260px;
  height: auto;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 4rem;
  width: 100vw;
  max-width: 1220px;
}

.text p {
  text-align: justify;
  line-height: 1.5rem;
}

.sectionFour {
  font-family: Blinker, helvetica, sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  max-width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.photosContent {
  display: block;
  position: relative;
  width: 100vh;
  height: 600px;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.sideContent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 16rem;
  height: 100%;
}

.sideContent p {
  text-align: center;
}

.sideContent img {
  width: 130px;
}

#p1 {
  position: absolute;
  top: 350px;
  left: 150px;
  z-index: 4;
}

#p2 {
  position: absolute;
  top: 200px;
  left: 230px;
  z-index: 3;
}

#p3 {
  position: absolute;
  left: 100px;
  top: 100px;
}

footer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem auto 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  background: #c4c4c430;
}

footer h1 {
  font-family: Rozha one, helvetica, sans-serif;
}

.medias {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1220px) {
  header {
    margin-top: 0;
  }

  .contentTopHeader ul {
    width: 25rem;
  }

  .contentSectionTwo {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .partials {
    width: 100%;
    justify-content: space-between;
  }

  .description {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .photosContent {
    display: flex;
    justify-content: center;
  }

  .sectionFour {
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .sideContent {
    justify-content: space-evenly;
  }

  .photosContent #p1,
  #p2,
  #p3 {
    width: 45%;
  }

  @media (max-width: 780px) {
    header {
      margin-top: 0;
      background-image: url(./assets/firstCropImg.png);
    }

    header .carter {
      color: #fff;
    }

    .contentTopHeader {
      height: 50%;
      flex-direction: column;
      gap: 2rem;
    }

    .contentTopHeader nav ul {
      flex-direction: column;
    }

    .contentHeader {
      justify-content: center;
    }

    .smallBox {
      padding: 1.5rem 0;
      font-size: 0.8rem;
    }

    .description img {
      width: 100%;
    }

    .sideContent {
      width: 50%;
      text-align: center;
      justify-content: center;
    }

    .photosContent {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      height: 600px;
      width: 50%;
      gap: 1rem;
    }

    .photosContent #p1,
    #p2,
    #p3 {
      width: 60%;

      position: static;
    }
  }

  footer ul {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 1rem;
    background-position: center;
    margin-top: 0;
  }

  .contentHeader button {
    padding: 1rem 1.5rem;
  }
  .sectionOne .content {
    flex-direction: column;
    align-items: center;
  }
  .photoBox {
    width: 320px;
  }

  .sectionTwo {
    margin: 2rem 0;
  }

  .partials {
    flex-direction: column;
  }

  .description {
    justify-content: space-between;
    gap: 1rem;
  }

  .sectionThre .text {
    padding: 0 2rem;
    margin: 2rem auto;
  }
  footer ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .photoBox {
    width: 270px;
  }
}
