* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body,
html {
  font-family: "Roboto", helvetica, sans-serif;
}

.headerMobile {
  display: none;
}

header {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

#carousel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
}

.carousel-indicators button {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50%;
}

.contentTopHeader {
  position: absolute;
  top: 0;
  margin: 0 auto;
  display: flex;
  height: 10%;
  width: 100%;
  max-width: 1220px;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 6rem 0 4rem;
  z-index: 2;
}

.contentTopHeader ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30rem;
  margin-bottom: 0;
}

.contentTopHeader ul a {
  text-decoration: none;
  color: inherit;
}

.contentTopHeader ul a:hover {
  color: white;
  height: 0.5rem;
  border-bottom: 2px solid white;
}

.contentFooter {
  display: flex;
  background: transparent;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1220px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding-left: 10rem;
  bottom: 0rem;
}

.contentFooter button {
  margin-top: 0.8rem;
  border: 1px solid white;
  padding: 0.8rem 4rem;
  background: transparent;
  border-radius: 0.5rem;
}

.carousel-indicators {
  width: 80px;
  height: 20px;
  border-radius: 50%;
}

.activeMenu {
  display: none;
}

.logo {
  font-family: Rozha one, helvetica, sans-serif;
  font-weight: bolder;
  line-height: 20px;
  font-size: 2rem;
}

.cartImg {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 38px;
  z-index: 3;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  line-height: 1;
  width: 100vw;
}

.smallBoxContainer {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 1220px;
}

.smallBox + .smallBox {
  margin-left: 1rem;
}

.smallBox {
  padding: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
  border: none;
  border-radius: inherit;
  background-color: #c67306bf;
  transition: 0.2s;
}

.smallBox:hover {
  filter: brightness(0.9);
}

.photoBoxContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.photoBox {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  margin: 0.5rem;
}

.photoBox img {
  width: 100%;
  height: 100%;
}

.offer1 {
  background: #f3a914b0;
}

.offer2 {
  background: #c67106e5;
}

.sectionOne {
  width: 100%;
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
}

.sectionOne .content {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.photoBox p {
  font-family: "Blinker", arial, helvetica, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  line-height: 1px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 100vw;
  max-width: 1220px;
}

.partials {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.title-sectionTwo {
  font-family: Blinker;
  margin: 2 auto;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.contentSectionTwo {
  margin: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.sectionThre {
  position: relative;
  font-family: "Blinker", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100vw;
  max-width: 1260px;
  height: auto;
}

.buttonSale {
  position: absolute;
  width: 100%;
  top: 50px;
  padding: 50px;
}

.sectionThre .buttonSale button {
  background: black;
  padding: 0.5rem 3rem;
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 4rem;
  width: 100vw;
  max-width: 1220px;
}

.text p {
  text-align: justify;
  line-height: 1.5rem;
}

.sectionFour {
  font-family: Blinker, helvetica, sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  max-width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.photosContent {
  display: block;
  position: relative;
  width: 100vh;
  height: 600px;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.sideContent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 16rem;
  height: 100%;
  text-align: center;
}

.sideContent img {
  width: 130px;
}

#p1 {
  position: absolute;
  top: 350px;
  left: 150px;
  z-index: 4;
}

#p2 {
  position: absolute;
  top: 200px;
  left: 230px;
  z-index: 3;
}

#p3 {
  position: absolute;
  left: 100px;
  top: 100px;
}

footer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem auto 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  background: #c4c4c430;
}

footer a {
  transition: 0.2s;
}

footer a:hover {
  color: black;
  text-shadow: 0 0 0.5px black;
}

footer h1 {
  font-family: Rozha one, helvetica, sans-serif;
}

.linksUtils {
  display: flex;
  width: 100%;
  max-width: 700px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.linksUtils ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.medias {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1220px) {
  .contentSectionTwo {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .partials {
    width: 100%;
    justify-content: space-between;
  }

  .description {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .photosContent {
    display: flex;
    justify-content: center;
  }

  .sectionFour {
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .sideContent {
    justify-content: space-evenly;
  }

  .photosContent #p1,
  #p2,
  #p3 {
    width: 45%;
  }

  @media (max-width: 680px) {
    .activeMenu {
      position: absolute;
      top: 30px;
      right: 56.8px;
      width: 30px;
      height: 30px;
      display: inherit;
    }

    .contentFooter {
      display: none;
    }

    .cartImg {
      display: none;
    }

    .contentTopHeader ul {
      display: none;
    }

    .sectionThre .buttonSale {
      display: none;
    }
  }

  @media (max-width: 780px) {
    header .carter {
      color: #fff;
    }

    .contentFooter {
      padding: 6rem;
    }

    .smallBox {
      padding: 1.5rem 0;
      font-size: 0.8rem;
    }

    .description img {
      width: 60%;
    }

    .sideContent {
      width: 50%;
      text-align: center;
      justify-content: center;
    }

    .photosContent {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      height: 600px;
      width: 50%;
      gap: 1rem;
    }

    .photosContent #p1,
    #p2,
    #p3 {
      width: 60%;

      position: static;
    }
  }

  .linksUtils ul {
    padding: 0 2rem;
  }
}

@media (max-width: 425px) {
  header div {
    display: none;
  }

  .headerMobile {
    display: flex;
    background: #88888830;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .headerMobile main h2 {
    margin: 0;
    color: black;
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  main img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(74, 74, 74);
  }
}

@media (max-width: 480px) {
  .contentHeader button {
    padding: 1rem 1.5rem;
  }

  .sectionOne .content {
    flex-direction: column;
  }

  .photoBoxContainer {
    max-width: 380px;
  }

  .content {
    align-items: center;
  }

  .photoBox {
    width: 380px;
  }

  .sectionTwo {
    margin: 2rem 0;
  }

  .partials {
    flex-direction: column;
  }

  .description {
    justify-content: space-between;
    gap: 1rem;
  }

  .sectionThre .text {
    padding: 0 2rem;
    margin: 2rem auto;
  }

  .linksutils {
    align-items: center;
    text-align: center;
  }

  .linksUtils ul {
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .photoBox {
    width: 100%;
  }
}
